*{
    font-family: "Poppins", 'Times New Roman';
}
header{
    display: flex;
    gap: 18rem;
    align-items: center;
}
header .logo{
    display: flex;
    justify-content: left;
    gap: 5px;
}
header .logo img{
    height: 60px;
    width: 90px;
}
header nav ul{
    display: flex;
    gap: 120px;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: black;
}
header .logo a{
    text-decoration: none;
    color: black;
}
body{
    background-color: rgba(59, 120, 80, 0.329);
    display: block;
    justify-content: center;
}
form{
    height: 30rem;
    width: 30rem;
    background-color: white;
    border-radius: 5px;
    padding: 70px;
    margin-left: 30rem;
}
form .form h1{
    text-align: center;
}

form .form label{
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
}
form .form input{
   height: 25px;
   width: 30rem;
}
form .form button{
    height: 30px;
    width: 30.5rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
}
form select{
    height: 33px;
    width: 30.3rem;
}